.counter_container {
    background-color: #fff;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1.5);
    text-align: center;
}

.counter_container h1{
    margin-bottom: 1 rem;
    color: #333;
}

.count_display {
    font-size: 4rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #4a4a4a;
}

.button_group{
    display: flex;
    gap:1rem;
    justify-content: center;
}

.btn{
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    color: #333;
    border-radius: 0.5 rem;
    transition: all 0.2 ease-in-out;
}